/***************************************************
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: helvetica, arial, sans-serif;
}
html, body{
    background-color: #6B8525;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
    color: #175236;
}
h2{
    font-size: 4.23rem;
    /* ADD the Go
    ogle serif font to this font stack */
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
    color: #BAD279;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #BAD279;
    color: #24523E;
}
header{
    border-bottom: 0.8rem solid #869948;
    background-color: #A9D23A;
    color:#6B8525;
}
.menu-h{
    width: 100%;
}
    .menu-h li{
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
        }
        .menu-h a:hover,
        .menu-h a:active{
            
        }
.menu-v{
    width: 20%;
    float:left;
    padding: 0;
    margin: 0;
    background-color: #A9D23A;
    overflow: hidden;
}
    .menu-v li{
        list-style-type: none;
        width: 100%;
        display: 8px auto;
        text-align: center;
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
    }
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            width: 100%;
            text-decoration: none;
            display: block;
                
            /* style the anchors to fill the entire width of the li */
        }
        .menu-h a:active,
        .menu-v a:hover{
            color: #6B8525;
            font-weight: bold;
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
    color: #24523E;
}
